#header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    border: solid 1px black;
    padding-left: 13px;
    padding-right: 13px;
    height: var(--header-height);
    box-shadow: 0px 1px 5px 1px grey;
}

#header-content{
    display: grid;
    grid-template-columns: var(--side-panel-width) 1fr var(--side-panel-width);
    align-items: center;
}

#header-logo{
    color: #F6AF44;
}

#header-logo{
    cursor: pointer;
}

#header-search{
    display: flex;
    justify-content: center;
    text-align: center;
}

#header-search button{
    padding: 10px;
    background: #EFEFEF;
    color: black;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-left: 0;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 0px 5px 5px 0px;
}

#header-search button:hover{
    background-color: #706E70;
}

#header-profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 10px;
}

.fa-cat{
    padding-right: 20px;
    font-size: 1.7em;
}


.header-cleaner{
    height: 60px;
}

#header input {
    min-width: 75px;
    width: calc(50% - 75px);
    border: 1px solid #eee;
    height: 40px;
    padding: 0px 15px;
    margin-top: 5px;
    margin-right: 0;
    font-size: 17px;
    background: white;
    border-radius: 5px 0px 0px 5px;
}

#header input:focus{
    outline: none;
    border: 2px solid blue;
    border-radius: 5px 0px 0px 5px;
}

.fa-microphone{
    color: #C1C1C1;
    font-size: 2em;
    margin-top: 9px;
}

.fa-microphone:hover{
    cursor: pointer;
    color: #706E70;
}

h1{
    display: inline;
    font-size:  34px;
}

.fa-bell{
    color: #C1C1C1;
    font-size: 2em;
}

.fa-bell:hover{
    cursor: pointer;
    color: #706E70;
}

#profile{
    background-color: #F6AF44;
    padding: 8px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
}

#profile:focus{
    pointer-events: none;
    background-color: #E3E3E3;
}

#profile:focus + #header-popup{
    display: block;
}


#header-popup{
    display: none;
    position: absolute;
    top: calc(var(--header-height)+41px);
    right: 20px;
    background-color: white;
    border: 1px solid #E3E3E3;
    border-radius: 5px 5px 5px 5px;
    width: 150px;
    text-align: left;
}

#header-popup ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#header-popup li{
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    border-bottom: 1px solid #E3E3E3;
    padding: 5px;
    font-size: 18px;
}

#header-popup li:last-child{
    border: none;
    color: red;
}

#header-popup i{
    margin-right: 5px;
}

#header-popup li:hover{
    background-color: #E7E8E9;
    cursor: pointer;
}