#main{
    position: fixed;
    top: var(--header-height);
    left: var(--side-panel-width);
    width: calc(100% - var(--side-panel-width));
    height: calc(100% - var(--header-height));
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 20px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

#main::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#main-categories{
    display: flex;
    align-items: center;
    grid-gap: 17px;
    overflow: hidden;
    overflow-x: scroll; 
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

#main-categories::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#main-categories a{
    height: 32px;
    padding: 4px 15px 10px 15px;
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: #EBEBEB;
    border: solid 1px black;
    border-radius: 20px;
}

#main-categories a:first-child{
    background-color: #F6AF44;
    color: white;
}

#main-categories a:first-child:hover{
    background-color: #f89f1a;
}

#main-categories a:hover{
    background-color: #D7D6D7;
}

#main-videos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    flex-wrap: wrap;
    grid-gap: 15px;
}

.main-video{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-video-preview{
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 98%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: black;
}

.overlay:hover{
    opacity: 0.7;
}

.overlay i{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay i .fa-paw{
    background-color: none;
    color: white;
}

.main-video-preview img{
    position: relative;
    width: 100%;
    height: 100%;
}

.main-video-info img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.video-status{
    position: absolute;
    top: 5px;
    left: 5px;
    color: white;
    border-radius: 15px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 6px;
    padding-left: 6px;
    font-weight: bold;
    background-color: red;
}

.video-viewers{
    position: absolute;
    right: 5px;
    bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 6px;
    color: white;
    font-weight:bolder;
    background-color: black;
    opacity: 70%;
}
.main-video-info{
    display: flex;
    justify-content: flex-start;
    grid-gap: 5px;
}

.main-video-info-user{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
}

.main-video-name{
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
}


.fa-ellipsis-v{
    position: absolute;
    font-size: 18px;
    font-weight: 900;
    right: 0;
    margin-right: 10px;
    margin-top: 2px;
    cursor: pointer;
}

.main-video-name:hover, .main-video-author:hover{
    color: #2648b9;
    cursor: pointer;
}

.main-video-author{
    display: inline-block;
    font-size: 12px;
    vertical-align: baseline;
}

@media (max-width: 1200px){
    #main{
        left: 41px;
        width: calc(100% - 41px);
    }
}