#side-panel{
    position: fixed;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    width: var(--side-panel-width);
    background-color: #EBEBEB;
    font-weight: bold;
}

#side-panel-content{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

#streamers{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll; 
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    height: calc(100% - 140px);
}

#streamers::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


.streamer{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.streamer:hover{
    background-color: #E0DFE0;
    cursor: pointer;
}



.streamer img {
    margin-left: 13px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.streamer-info{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    grid-gap: 5px;
    align-items: center;
}

.streamer-info span{
    max-width: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.streamer-info span:hover{
    color: #4F55B0;
    cursor: pointer;
}

.fa-circle{
    color: red !important;
    width: 8px !important;
    height: 8px !important;
    margin-right: 5px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
}

.streamer-status {
    display: flex;
    margin-right: 13px;
}

#info-block{
    height: 110px;
    text-align: center;
    background-color: #DFDFDF;
    margin: 15px;
}

#info-block h3::selection{
    color: #FFFFFF;
    background: #F6AF44; 
}

#info-block > a{
    width: 40px;
    height: 30px;
    margin: 5px;
}

.fa-telegram,
.fa-instagram,
.fa-facebook{
    transition: color 0.5s ease;
}

.fa-telegram:hover{
    color: #33A8DA;
}

.fa-instagram:hover{
    color: #E15734;
}

.fa-facebook:hover{
    color: #395693;
}