*{
    font-family: Consolas, -apple-system;
    box-sizing: border-box;
    --header-height: 60px;
    --side-panel-width: 220px;
}


a{
    text-decoration: none;
    color: none;
    color: black;
}

@media (max-width: 1200px) {
    #side-panel{
        width: 41px !important;
    }
    .streamer img {
        margin-left: 6px !important;
    }
    #info-block{
        display: none;
    }

}